<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suites" parallel="tests" thread-count="3">

  <test name="Chrome">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="POM.Pegasus.BrowserFactory"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="Firefox">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="POM.Pegasus.BrowserFactory"/>
    </classes>
  </test> 
  
  <test name="IE">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="POM.Pegasus.BrowserFactory"/>
    </classes>
  </test> 
  
</suite> <!-- Suite -->
